.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
    margin-top: 150px;
    margin-bottom: 23px;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}


.container .login-username .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-username .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login-username .input-group input:focus,
.container .login-username .input-group input:valid {
    border-color: #FDE64B;
}

.container .login-username .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #FDE64B;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container .login-username .input-group .btn:hover {
    transform: translateY(-5px);
    background: #FFC30B;
}


/*media queries*/
@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}